<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Apéro rugby</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li{% if active_tab == "home"%} class="active" {% endif %}><a href="#">Accueil</a></li>
        <li{% if active_tab == "bulletin"%} class="active" {% endif %}><a href="#">Bulletin</a></li>
        <li{% if active_tab == "joueurs"%} class="active" {% endif %}><a href="#">Joueurs</a></li>
        <li{% if active_tab == "palmares"%} class="active" {% endif %}><a href="#">Palmarès</a></li>
        <li{% if active_tab == "archives"%} class="active" {% endif %}><a href="#">Archives</a></li>
        <li{% if active_tab == "aperocharte"%} class="active" {% endif %}><a href="#">Apérocharte</a></li>
        <li{% if active_tab == "aperorayonnement"%} class="active" {% endif %}><a href="#">ApéroRayonnement</a></li>
        {% if request.user.logged_in %}
        <li{% if active_tab == "aperopresence"%} class="active" {% endif %}><a href="#">ApéroPrésence</a></li>
        {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">ApéroMembres</a></li>
    </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</div>
